{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-xs-8">
            <h4>Board:</h4>

            <div id="game-board">

            </div>
        </div>

        <div class="col-xs-4">
            <h4>Movements</h4>
            <ol>
                {% for move in moves %}
                    <li><strong><em>{{ move.action }}</em></strong> on <strong>{{ move.step }}</strong>, moves from
                        <strong>{{ move.src }}</strong> to <strong>{{ move.dst }}</strong></li>
                {% endfor %}
            </ol>

        </div>
    </div>
{% endblock %}