<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <title>Snakes and Ladders</title>
</head>

<body>

<div class="container" id="page-wrapper">
    <div class="header">
        <ul class="nav nav-pills pull-right">
{#            <li class="active"><a href="#">Home</a></li>#}
        </ul>
        <h3 class="text-muted">Snakes and Ladders</h3>
    </div>

    <div class="content">
        {% block body %}{% endblock %}
    </div>

{#    <div class="footer">#}
{#        <p>© Company 2014</p>#}
{#    </div>#}

</div>
<!-- /container -->



<script src="{{ url_for('static', filename='board.js') }}"></script>
</body>
</html>
